

body {
    padding: 0px;
    color: black;
}

header {
    display: flex;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    font-size: larger;
	font-family: 'Roboto Mono', monospace;
}

.logo img {
    display: flex;
    height: 100px;
    padding-left: 600px;
}

.menu {
    display: flex;
    min-height: 30px;
    background-color: rgb(4, 78, 189);
    align-items: center;
    gap: 20px;
	font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    min-height: 20px;
    color: white;
}

.menu a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.ciclos {
    grid-column: span 1;
    border: rgb(206, 218, 240) 1px solid;
    font-family: 'Anek Latin', sans-serif;
}

.tablon {
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    justify-content: space-between;
    border: rgb(150, 164, 243) 1px solid;
}

.tablon a {
    color: rgb(31, 29, 29);
}

.tablon img {
    padding-left: 20px;
    width: 400px;
    padding-bottom: 20px;
}

.Anuncios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Anek Latin', sans-serif;
    flex-basis: 100%;
}

.centro {
    grid-column: span 1;
    border: rgb(114, 148, 221) 1px solid;
    font-family: 'Anek Latin', sans-serif;
    align-self: center;
    flex-basis: 100%;

}

.centro video {
    width: auto;
    height: auto;
    flex-basis: 100%;
}

.centro p {
    padding-left: 75px;
    text-align: center;
}

.admision {
    border: rgb(97, 114, 209) 1px solid;
    font-family: 'Anek Latin', sans-serif;
}

.admision p{
    font-family: 'Anek Latin', sans-serif;
    text-align: center;

}
.matriculacion {
    grid-column: span 1;
    border: rgb(91, 111, 224) 1px solid;
    font-family: 'Anek Latin', sans-serif;
}

.ampa {
    grid-column: span 1;
    border: rgb(111, 137, 223) 1px solid;
	border-image-slice:0%
}

.ampa img {
    height: 200px;
    padding-left: 40px;
}

h3 {
    height: max-content;
	background: linear-gradient(to bottom, rgb(165, 174, 185),);
    color: rgb(7, 50, 129);
    border-bottom: rgb(112, 129, 206) 1px solid;
    font-family: 'Anek Latin', sans-serif;
   
}
h3 p{
    font-family: 'Anek Latin', sans-serif;

}

h5{
  color: brown;  
}
/* display: flex;
        flex-direction: column; */
@media only screen and (max-width: 7px) {
    .container {
        width: 100%;
        max-width: 1006px;
        margin: 2.9em auto;
        display: grid;
        display: block;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 0;
        grid-template-rows: 40px 4em 60px;
        
        display: grid;
         width: 100%;
         grid-template-columns: 50px 1fr;/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns.*/
        padding: 10px 50px 30px 0;/*La propiedad CSS padding establece el espacio de relleno requerido por todos los lados de un elemento.*/
		flex-wrap: wrap;
        margin-bottom: 100px;
    }
   	

    body {
        padding: 5;
    }

    .logo {
        grid-column: span 7;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        image-rendering: auto;
        grid-template-columns: 50px 1fr;
    }

    .logo h2 {
        visibility: hidden;
    }

    .logo img {
        height: 200px;
    }

    .ciclos {
        grid-column: span 2;
        grid-row-start: 1;
    }
    .ciclos p{
        font-family: 'Anek Latin', sans-serif;
        text-align: center;
    }

    .admision {
        grid-column: span 2;
        grid-row-start: 2;
    }

    .matriculacion {
        grid-column: span 2;
        grid-row-start: 3;
    }

    .tablon {
        grid-column: span 2;
        grid-row-start: 8;
    }

    .centro {
        grid-column: span 2;
        grid-row-start: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .ce{
    display: flex;
    flex-direction: column;
    padding: 0;
}
 

    .centro p {
        padding-left: 30px;
        font-family: 'Anek Latin', sans-serif;
        
    }

    .ampa {
        grid-column: span 2;
        grid-row-start: 6;
		align-items: center;
        flex-direction: column;
		text-align: center;

    }
}

